<footer class="page-footer blue">
    <!--
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l8 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li class="grey-text text-lighten-3">Maximilian Köhl</li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    -->
    <div class="footer-copyright">
        <div class="container">
            © 2016 {{ site.author }}
            <span class="right">
                <a class="grey-text text-lighten-3" href="mailto:mail@koehlma.de">mail@koehlma.de</a> — <a class="grey-text text-lighten-3" href="#">PGP: 0x2A172112F6823185</a>
            </span>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<script>
    (function($){
        $(function(){
            $('.button-collapse').sideNav();
        });
    })(jQuery);
</script>
