---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="col s12 m4">
            <header class="post-header">
                <h4 class="post-title" itemprop="name headline">{{ page.title }}</h4>
                <p class="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {{ page.date | date: "%B %-d, %Y" }}
                    </time>
                    • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ site.author }}</span>
                    </span>
                </p>
            </header>
        </div>

        <div class="col s12 m8">
            <div class="post-content" itemprop="articleBody" style="font-size: 110%;">
                {{ content }}
            </div>
        </div>
    </div>
</article>
<div class="row">
    <div class="col s12 m8 offset-l4">
        <a class="right" href="{{ "/blog/" | prepend: site.baseurl }}">back</a>
    </div>
</div>

